spring.application.name=packet-collector-service

# TimescaleDB / PostgreSQL Connection
spring.datasource.url=jdbc:postgresql://<host>:<port>/<db>
spring.datasource.username=<username; default:postgres>
spring.datasource.password=<password_pg>
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
